openapi: 3.0.3
info:
  title: BoldSign Branding Document API
  version: '1'
  description: BoldSign eSignature REST API for sending documents for electronic signature, managing reusable templates, tracking envelope status, embedding signing and requesting workflows into third-party applications. Supports API key and OAuth 2.0 authentication. Regional endpoints available for US, EU, CA, and AU.
  contact:
    name: BoldSign Support
    url: https://developers.boldsign.com/
    email: support@boldsign.com
  license:
    name: Proprietary
    url: https://boldsign.com/terms-of-use/
  termsOfService: https://boldsign.com/terms-of-use/
servers:
- url: https://api.boldsign.com
  description: US production
- url: https://eu.boldsign.com
  description: EU production
- url: https://ca.boldsign.com
  description: CA production
- url: https://au.boldsign.com
  description: AU production
security:
- Bearer: []
- X-API-KEY: []
tags:
- name: Document
paths:
  /v1/document/send:
    post:
      tags:
      - Document
      summary: Sends the document for sign.
      operationId: SendDocument
      requestBody:
        description: The send for sign request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendForSign'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SendForSign'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendForSign'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreated'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/extendExpiry:
    patch:
      tags:
      - Document
      summary: Extends the expiration date of the document.
      operationId: ExtendExpiry
      parameters:
      - name: documentId
        in: query
        required: true
        schema:
          title: String
          type: string
      requestBody:
        description: The new expiry value should be specified in yyyy-MM-dd format for days type, ISO date time format for specific date time and integer for hours type.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/xml:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          text/plain:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          text/json:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExtendExpiry'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/createEmbeddedRequestUrl:
    post:
      tags:
      - Document
      summary: Generates a send URL which embeds document sending process into your application.
      operationId: CreateEmbeddedRequestUrlDocument
      requestBody:
        description: The embedded send document request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedDocumentRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedDocumentRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedDocumentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSendCreated'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/createEmbeddedEditUrl:
    post:
      tags:
      - Document
      summary: Generates an embedded edit URL that allows the document editing process to be integrated into your application.
      operationId: createEmbeddedEditUrl
      parameters:
      - name: documentId
        in: query
        required: true
        schema:
          title: String
          type: string
      requestBody:
        description: The embedded edit document request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedDocumentEditJsonRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedDocumentEditJsonRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedDocumentEditJsonRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedDocumentEdited'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/list:
    get:
      tags:
      - Document
      summary: List user documents.
      operationId: ListDocuments
      parameters:
      - name: SentBy
        in: query
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: Recipients
        in: query
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: TransmitType
        in: query
        schema:
          title: TransmitType
          enum:
          - Sent
          - Received
          - Both
          type: string
      - name: DateFilterType
        in: query
        description: Date Filter as SentBetween and ExpiresOn.
        schema:
          title: DateFilterType
          enum:
          - SentBetween
          - Expiring
          type: string
      - name: PageSize
        in: query
        description: Page size specified in get document list request.
        schema:
          title: Int32
          type: integer
          format: int32
          default: 10
      - name: Page
        in: query
        description: Page index specified in get document list request.
        required: true
        schema:
          title: Int32
          type: integer
          format: int32
          default: 1
      - name: StartDate
        in: query
        description: Start date of the document
        schema:
          title: Nullable`1
          type: string
          format: date-time
      - name: Status
        in: query
        description: Status of the document such as In-progress, Completed, Decline, Expired, Revoked, Draft.
        schema:
          title: List`1
          type: array
          items:
            title: Status
            enum:
            - None
            - WaitingForMe
            - WaitingForOthers
            - NeedAttention
            - Completed
            - Declined
            - Revoked
            - Expired
            - Draft
            - Scheduled
            type: string
      - name: EndDate
        in: query
        description: End date of the document
        schema:
          title: Nullable`1
          type: string
          format: date-time
      - name: SearchKey
        in: query
        description: Documents can be listed by the search key present in the document like document title, document ID, sender or recipient(s) name, etc.,
        schema:
          title: String
          type: string
      - name: Labels
        in: query
        description: Labels of the document.
        schema:
          title: IEnumerable`1
          type: array
          items:
            title: String
            type: string
      - name: NextCursor
        in: query
        description: Next cursor value for pagination, required for fetching the next set of documents beyond 10,000 records.
        schema:
          title: Nullable`1
          type: integer
          format: int64
      - name: BrandIds
        in: query
        description: BrandId(s) of the document.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentRecords'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/teamlist:
    get:
      tags:
      - Document
      summary: Get user Team documents.
      operationId: TeamDocuments
      parameters:
      - name: UserId
        in: query
        description: UserId of the  Team document.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: TeamId
        in: query
        description: TeamId  of the  Team document.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: TransmitType
        in: query
        description: Transmit type as Sent, Received and Both.
        schema:
          title: TransmitType
          enum:
          - Sent
          - Received
          - Both
          type: string
      - name: DateFilterType
        in: query
        description: Date Filter as SentBetween and Expiring.
        schema:
          title: DateFilterType
          enum:
          - SentBetween
          - Expiring
          type: string
      - name: PageSize
        in: query
        description: Page size specified in get document list request.
        schema:
          title: Int32
          type: integer
          format: int32
          default: 10
      - name: Page
        in: query
        description: Page index specified in get document list request.
        required: true
        schema:
          title: Int32
          type: integer
          format: int32
          default: 1
      - name: StartDate
        in: query
        description: Start date of the document
        schema:
          title: Nullable`1
          type: string
          format: date-time
      - name: Status
        in: query
        description: Status of the document such as In-progress, Completed, Decline, Expired, Revoked, Draft.
        schema:
          title: List`1
          type: array
          items:
            title: Status
            enum:
            - None
            - WaitingForMe
            - WaitingForOthers
            - NeedAttention
            - Completed
            - Declined
            - Revoked
            - Expired
            - Draft
            - Scheduled
            type: string
      - name: EndDate
        in: query
        description: End date of the document
        schema:
          title: Nullable`1
          type: string
          format: date-time
      - name: SearchKey
        in: query
        description: Documents can be listed by the search key present in the document like document title, document ID, sender or recipient(s) name, etc.,
        schema:
          title: String
          type: string
      - name: Labels
        in: query
        description: Labels of the document.
        schema:
          title: IEnumerable`1
          type: array
          items:
            title: String
            type: string
      - name: NextCursor
        in: query
        description: Next cursor value for pagination, required for fetching the next set of documents beyond 10,000 records.
        schema:
          title: Nullable`1
          type: integer
          format: int64
      - name: BrandIds
        in: query
        description: BrandId(s) of the document.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDocumentRecords'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/behalfList:
    get:
      tags:
      - Document
      summary: Gets the behalf documents.
      operationId: BehalfDocuments
      parameters:
      - name: PageType
        in: query
        description: The filter used to differentiate between documents sent on the user's behalf and documents sent by the user on behalf of others. The API will return documents based on the specified value.
        schema:
          title: PageType
          enum:
          - BehalfOfOthers
          - BehalfOfMe
          type: string
      - name: EmailAddress
        in: query
        description: The sender identity's email used to filter the documents returned in the API. The API will return documents that were sent on behalf of the specified email address.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: Signers
        in: query
        description: A list of signer email addresses used to filter the documents returned in the API. The API will return documents where the signer's email address matches one of the email addresses provided in this list
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: PageSize
        in: query
        description: Page size specified in get document list request.
        schema:
          title: Int32
          type: integer
          format: int32
          default: 10
      - name: Page
        in: query
        description: Page index specified in get document list request.
        required: true
        schema:
          title: Int32
          type: integer
          format: int32
          default: 1
      - name: StartDate
        in: query
        description: Start date of the document
        schema:
          title: Nullable`1
          type: string
          format: date-time
      - name: Status
        in: query
        description: Status of the document such as In-progress, Completed, Decline, Expired, Revoked, Draft.
        schema:
          title: List`1
          type: array
          items:
            title: Status
            enum:
            - None
            - WaitingForMe
            - WaitingForOthers
            - NeedAttention
            - Completed
            - Declined
            - Revoked
            - Expired
            - Draft
            - Scheduled
            type: string
      - name: EndDate
        in: query
        description: End date of the document
        schema:
          title: Nullable`1
          type: string
          format: date-time
      - name: SearchKey
        in: query
        description: Documents can be listed by the search key present in the document like document title, document ID, sender or recipient(s) name, etc.,
        schema:
          title: String
          type: string
      - name: Labels
        in: query
        description: Labels of the document.
        schema:
          title: IEnumerable`1
          type: array
          items:
            title: String
            type: string
      - name: NextCursor
        in: query
        description: Next cursor value for pagination, required for fetching the next set of documents beyond 10,000 records.
        schema:
          title: Nullable`1
          type: integer
          format: int64
      - name: BrandIds
        in: query
        description: BrandId(s) of the document.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BehalfDocumentRecords'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/properties:
    get:
      tags:
      - Document
      summary: Get summary of the document.
      operationId: GetDocumentProperties
      parameters:
      - name: documentId
        in: query
        required: true
        schema:
          title: String
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentProperties'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
      x-operation-name: GetProperties
  /v1/document/download:
    get:
      tags:
      - Document
      summary: Download the document.
      operationId: DownloadDocument
      parameters:
      - name: documentId
        in: query
        required: true
        schema:
          title: String
          type: string
      - name: onBehalfOf
        in: query
        schema:
          title: String
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/xml:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            text/plain:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/octet-stream:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            text/json:
              schema:
                title: FileStreamResult
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/downloadAttachment:
    get:
      tags:
      - Document
      summary: Download the Attachment.
      operationId: DownloadAttachment
      parameters:
      - name: documentId
        in: query
        required: true
        schema:
          title: String
          type: string
      - name: attachmentId
        in: query
        required: true
        schema:
          title: String
          type: string
      - name: onBehalfOf
        in: query
        schema:
          title: String
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/xml:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            text/plain:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/octet-stream:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            text/json:
              schema:
                title: FileStreamResult
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/downloadAuditLog:
    get:
      tags:
      - Document
      summary: Download the audit trail document.
      operationId: DownloadAuditLog
      parameters:
      - name: documentId
        in: query
        required: true
        schema:
          title: String
          type: string
      - name: onBehalfOf
        in: query
        schema:
          title: String
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;IEEE754Compatible=false:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/json;IEEE754Compatible=true:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/xml:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            text/plain:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            application/octet-stream:
              schema:
                title: FileStreamResult
                type: string
                format: binary
            text/json:
              schema:
                title: FileStreamResult
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/document/revoke:
    post:
      tags:
      - Document
      summary: Revoke the document.
      operationId: RevokeDocument
      parameters:
      - name: documentId
        in: query
        required: true
        schema:
          title: String
          type: string
      requestBody:
        description: RevokeDetails.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/RevokeDocument'
[...]
