openapi: 3.0.3
info:
  title: BoldSign Branding Plan API
  version: '1'
  description: BoldSign eSignature REST API for sending documents for electronic signature, managing reusable templates, tracking envelope status, embedding signing and requesting workflows into third-party applications. Supports API key and OAuth 2.0 authentication. Regional endpoints available for US, EU, CA, and AU.
  contact:
    name: BoldSign Support
    url: https://developers.boldsign.com/
    email: support@boldsign.com
  license:
    name: Proprietary
    url: https://boldsign.com/terms-of-use/
  termsOfService: https://boldsign.com/terms-of-use/
servers:
- url: https://api.boldsign.com
  description: US production
- url: https://eu.boldsign.com
  description: EU production
- url: https://ca.boldsign.com
  description: CA production
- url: https://au.boldsign.com
  description: AU production
security:
- Bearer: []
- X-API-KEY: []
tags:
- name: Plan
paths:
  /v1/plan/apiCreditsCount:
    get:
      tags:
      - Plan
      summary: Gets the Api credits details.
      operationId: ApiCreditsCount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingViewModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
components:
  schemas:
    BillingViewModel:
      title: BillingViewModel
      type: object
      properties:
        BalanceCredits:
          title: Double
          type: number
          format: double
      additionalProperties: false
    ErrorResult:
      title: ErrorResult
      type: object
      properties:
        error:
          title: String
          type: string
          nullable: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'Format ''Bearer'' [space] [TOKEN]. Ex: ''Bearer eyJhbGciOiJIUzI1N'''
      name: Authorization
      in: header
    X-API-KEY:
      type: apiKey
      description: 'Format [API-KEY]. Ex: ''abcdef12345'''
      name: X-API-KEY
      in: header
externalDocs:
  description: BoldSign Developer Documentation
  url: https://developers.boldsign.com/
