openapi: 3.2.0
info:
  title: BoldSign Template API
  version: '1'
  description: BoldSign eSignature REST API for sending documents for electronic signature, managing reusable templates, tracking envelope status, embedding signing and requesting workflows into third-party applications. Supports API key and OAuth 2.0 authentication. Regional endpoints available for US, EU, CA, and AU.
  contact:
    name: BoldSign Support
    url: https://developers.boldsign.com/
    email: support@boldsign.com
  license:
    name: Proprietary
    url: https://boldsign.com/terms-of-use/
  termsOfService: https://boldsign.com/terms-of-use/
servers:
- url: https://api.boldsign.com
  description: US production
- url: https://eu.boldsign.com
  description: EU production
- url: https://ca.boldsign.com
  description: CA production
- url: https://au.boldsign.com
  description: AU production
security:
- Bearer: []
- X-API-KEY: []
tags:
- name: Template
paths:
  /v1/template/list:
    get:
      tags:
      - Template
      summary: List all the templates
      operationId: ListTemplates
      parameters:
      - name: TemplateType
        in: query
        schema:
          title: TemplateType
          enum:
          - mytemplates
          - sharedtemplate
          - all
          type: string
      - name: PageSize
        in: query
        schema:
          title: Int32
          type: integer
          format: int32
          default: 10
      - name: Page
        in: query
        required: true
        schema:
          title: Int32
          type: integer
          format: int32
          default: 1
      - name: SearchKey
        in: query
        schema:
          title: String
          type: string
      - name: OnBehalfOf
        in: query
        description: The sender identity's email used to filter the templates returned in the API. The API will return templates that were sent on behalf of the specified email address.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: CreatedBy
        in: query
        description: The templates can be listed by the creator of the template.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: TemplateLabels
        in: query
        description: Labels of the template.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: StartDate
        in: query
        description: Start date of the template
        schema:
          title: Nullable`1
          type: string
          format: date-time
      - name: EndDate
        in: query
        description: End date of the template
        schema:
          title: Nullable`1
          type: string
          format: date-time
      - name: BrandIds
        in: query
        description: BrandId(s) of the template.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      - name: SharedWithTeamId
        in: query
        description: The templates can be listed by the shared teams.
        schema:
          title: List`1
          type: array
          items:
            title: String
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateRecords'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/create:
    post:
      tags:
      - Template
      summary: Creates a new template
      operationId: CreateTemplate
      requestBody:
        description: The create template request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateCreated'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/createEmbeddedTemplateUrl:
    post:
      tags:
      - Template
      summary: Generates a create URL to embeds template create process into your application
      operationId: CreateEmbeddedTemplateUrl
      requestBody:
        description: The create embedded template request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedCreateTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedCreateTemplateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedCreateTemplateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedTemplateCreated'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/getEmbeddedTemplateEditUrl:
    post:
      tags:
      - Template
      summary: Generates a edit URL to embeds template edit process into your application
      operationId: getEmbeddedTemplateEditUrl
      parameters:
      - name: templateId
        in: query
        required: true
        schema:
          title: String
          type: string
      requestBody:
        description: The embedded edit template request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedTemplateEditRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedTemplateEditRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedTemplateEditRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedTemplateEdited'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/delete:
    delete:
      tags:
      - Template
      summary: Deletes a template
      operationId: DeleteTemplate
      parameters:
      - name: templateId
        in: query
        required: true
        schema:
          title: String
          type: string
      - name: onBehalfOf
        in: query
        schema:
          title: String
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/send:
    post:
      tags:
      - Template
      summary: Send a document for signature using a Template
      operationId: SendUsingTemplate
      parameters:
      - name: templateId
        in: query
        required: true
        schema:
          title: String
          type: string
      requestBody:
        description: The send template details as JSON.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendForSignFromTemplateForm'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SendForSignFromTemplateForm'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendForSignFromTemplateForm'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreated'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/mergeAndSend:
    post:
      tags:
      - Template
      summary: Send the document by merging multiple templates
      operationId: MergeAndSend
      requestBody:
        description: The merge and send details as JSON.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeAndSendForSignForm'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MergeAndSendForSignForm'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MergeAndSendForSignForm'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreated'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/createEmbeddedRequestUrl:
    post:
      tags:
      - Template
      summary: Generates a send URL using a template which embeds document sending process…
      operationId: CreateEmbeddedRequestUrlTemplate
      parameters:
      - name: templateId
        in: query
        required: true
        schema:
          title: String
          type: string
      requestBody:
        description: Embedded send template json request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedSendTemplateFormRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedSendTemplateFormRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedSendTemplateFormRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSendCreated'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/mergeCreateEmbeddedRequestUrl:
    post:
      tags:
      - Template
      summary: Generates a merge request URL using a template that combines document merging…
      operationId: MergeCreateEmbeddedRequestUrlTemplate
      requestBody:
        description: Embedded merge and send template json request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedMergeTemplateFormRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedMergeTemplateFormRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedMergeTemplateFormRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSendCreated'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/properties:
    get:
      tags:
      - Template
      summary: Get summary of the template
      operationId: GetTemplateProperties
      parameters:
      - name: templateId
        in: query
        required: true
        schema:
          title: String
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateProperties'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
      x-operation-name: GetProperties
  /v1/template/download:
    get:
      tags:
      - Template
      summary: Download the template
      operationId: Download
      parameters:
      - name: templateId
        in: query
        required: true
        schema:
          title: String
          type: string
      - name: onBehalfOf
        in: query
        schema:
          title: String
          type: string
      - name: includeFormFieldValues
        in: query
        schema:
          title: Boolean
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: FileStreamResult
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/edit:
    put:
      tags:
      - Template
      summary: Edit and updates an existing template
      operationId: EditTemplate
      parameters:
      - name: templateId
        in: query
        required: true
        schema:
          title: String
          type: string
      requestBody:
        description: The edit template request body.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          text/plain:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EditTemplateRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/addTags:
    patch:
      tags:
      - Template
      summary: Add the Tags in Templates
      operationId: AddTemplateTag
      requestBody:
        description: ContainsTemplateId and Label Names for AddingTags.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/xml:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          text/plain:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          text/json:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TemplateTag'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '401':
          description: Unauthorized
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
      x-operation-name: AddTag
  /v1/template/deleteTags:
    delete:
      tags:
      - Template
      summary: Delete the Tags in Templates
      operationId: DeleteTemplateTag
      requestBody:
        description: Contains TemplateId and LabelNames for Adding Tags.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/xml:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          text/plain:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          text/json:
            schema:
              $ref: '#/components/schemas/TemplateTag'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TemplateTag'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        '400':
          description: Bad Request
          content:
            application/json;odata.metadata=minimal;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=minimal;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=full;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.metadata=none;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=true;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;odata.streaming=false;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=false:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/json;IEEE754Compatible=true:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
      x-operation-name: DeleteTag
  /v1/template/share:
    patch:
      tags:
      - Template
      summary: Share a template with teams and manage permissions
      operationId: ShareTemplate
      parameters:
      - name: templateId
        in: query
        required: true
        schema:
          title: String
          type: string
      requestBody:
        description: Permissions request.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=minimal;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=minimal:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=full;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=full;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=full:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=none;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=none;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=none:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.streaming=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.streaming=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=minimal;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=minimal;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=minimal;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=full;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=full;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=full;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=full;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=none;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=none;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=none;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.metadata=none;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.streaming=true;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.streaming=true;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.streaming=false;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;odata.streaming=false;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;IEEE754Compatible=false:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json;IEEE754Compatible=true:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          text/plain:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TemplateShareRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateShareErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateShareErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
  /v1/template/createEmbeddedPreviewUrl:
    post:
      tags:
      - Template
      summary: Generates a preview URL for a template to view it
      operationId: createEmbeddedPreviewUrl
      parameters:
      - name: templateId
        in: query
        required: true
        schema:
          title: String
          type: string
      requestBody:
        description: The embedded template preview request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedTemplatePreviewJsonRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmbeddedTemplatePreviewJsonRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmbeddedTemplatePreviewJsonRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedTemplatePreview'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
components:
  schemas:
    MergeAndSendForSignForm:
      title: MergeAndSendForSignForm
      type: object
      properties:
        files:
          title: List`1
          type:
          - array
          - 'null'
          items:
            title: IFormFile
            type: string
            format: binary
        fileUrls:
          title: Uri[]
          type:
          - array
          - 'null'
          items:
            title: Uri
            type: string
            format: uri
        templateIds:
          title: String[]
          type:
          - array
          - 'null'
          items:
            title: String
            type: string
        useTextTags:
          title: Boolean
          type: boolean
        textTagDefinitions:
          title: List`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TextTagDefinition'
        documentId:
          title: String
          type:
          - string
          - 'null'
        title:
          title: String
          maxLength: 256
          minLength: 0
          type:
          - string
          - 'null'
        message:
          title: String
          maxLength: 5000
          minLength: 0
          type:
          - string
          - 'null'
        roles:
          title: List`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Role'
        brandId:
          title: String
          type:
          - string
          - 'null'
        labels:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            title: String
            type: string
        disableEmails:
          title: Boolean
          type: boolean
        disableSMS:
          title: Boolean
          type: boolean
          default: false
        hideDocumentId:
          title: Nullable`1
          type:
          - boolean
          - 'null'
        reminderSettings:
          $ref: '#/components/schemas/ReminderSettings'
        cc:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DocumentCC'
        expiryDays:
          title: Int32
          type: integer
          format: int32
          deprecated: true
        expiryDateType:
          title: Nullable`1
          enum:
          - Days
          - Hours
          - SpecificDateTime
          type:
          - string
          - 'null'
        expiryValue:
          title: Int64
          type: integer
          format: int64
          default: 60
        enablePrintAndSign:
          title: Boolean
          type: boolean
        enableReassign:
          title: Nullable`1
          type:
          - boolean
          - 'null'
        enableSigningOrder:
          title: Nullable`1
          type:
          - boolean
          - 'null'
        disableExpiryAlert:
          title: Nullable`1
          type:
          - boolean
          - 'null'
        documentInfo:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DocumentInfo'
        onBehalfOf:
          title: String
          type:
          - string
          - 'null'
        isSandbox:
          title: Nullable`1
          type:
          - boolean
          - 'null'
        roleRemovalIndices:
          title: Int32[]
          type:
          - array
          - 'null'
          items:
            title: Int32
            type: integer
            format: int32
        documentDownloadOption:
          title: Nullable`1
          enum:
          - Combined
          - Individually
          type:
          - string
          - 'null'
        metaData:
          title: Dictionary`2
          maxLength: 50
          type:
          - object
          - 'null'
          additionalProperties:
            title: String
            type:
            - string
            - 'null'
        formGroups:
          title: List`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FormGroup'
        removeFormFields:
          title: List`1
          type:
          - array
          - 'null'
          items:
            title: String
            type: string
        recipientNotificationSettings:
          $ref: '#/components/schemas/RecipientNotificationSettings'
        enableAuditTrailLocalization:
          title: Nullable`1
          type:
          - boolean
          - 'null'
        downloadFileName:
          title: String
          maxLength: 250
          minLength: 0
          type:
          - string
          - 'null'
        scheduledSendTime:
          title: Nullable`1
          type:
          - integer
          - 'null'
          format: int64
        allowScheduledSend:
          title: Boolean
          type: boolean
          default: false
        allowedSignatureTypes:
          title: List`1
          type:
          - array
          - 'null'
          items:
            title: SignatureType
            enum:
            - Text
            - Draw
            - Image
            type: string
        groupSignerSettings:
          $ref: '#/components/schemas/GroupSignerSettings'
        enableAllowSignEverywhere:
          title: Nullable`1
          type:
          - boolean
          - 'null'
        documentTimeZone:
          title: String
          type:
          - string
          - 'null'
      additionalProperties: false
    Font:
      title: Font
      type: object
      properties:
        name:
          title: Nullable`1
          enum:
          - Helvetica
          - Courier
          - TimesRoman
          - NotoSans
          - Carlito
          type:
          - string
          - 'null'
        color:
          title: String
          type:
          - string
          - 'null'
        size:
          title: Nullable`1
          type:
          - number
          - 'null'
          format: float
        style:
          title: Nullable`1
          enum:
          - Regular
          - Bold
          - Italic
          - Underline
          type:
          - string
          - 'null'
          deprecated: true
        lineHeight:
          title: Nullable`1
          type:
          - integer
          - 'null'
          format: int32
        isBoldFont:
          title: Boolean
          type: boolean
        isItalicFont:
          title: Boolean
          type: boolean
        isUnderLineFont:
          title: Boolean
          type: boolean
      additionalProperties: false
    Validation:
      title: Validation
      required:
      - type
      type: object
      properties:
        type:
          title: Nullable`1
          enum:
          - NumberOnly
          - Email
          - Currency
          - Regex
          - None
          type: string
        regex:
          title: String
          type:
          - string
          - 'null'
        regexMessage:
          title: String
          type:
          - string
          - 'null'
      additionalProperties: false
    TemplateSignerDetails:
      title: TemplateSignerDetails
      type: object
      properties:
        signerName:
          title: String
          type:
          - string
          - 'null'
        signerRole:
          title: String
          type:
          - string
          - 'null'
        signerEmail:
          title: String
          type:
          - string
          - 'null'
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
        status:
          title: SignerStatus
          enum:
          - None
          - NotCompleted
          - Completed
          - Declined
          - Revoked
          - Expired
          type: string
        enableAccessCode:
          title: Boolean
          type: boolean
        enableEmailOTP:
          title: Boolean
          type: boolean
        imposeAuthentication:
          title: ImposeAuthentication
          enum:
          - None
          - EmailOTP
          - AccessCode
          - SMSOTP
          - IdVerification
          type: string
        deliveryMode:
          title: DeliveryMode
          enum:
          - Email
          - SMS
          - EmailAndSMS
          - WhatsApp
          type: string
        allowFieldConfiguration:
          title: Boolean
          type: boolean
          default: false
        userId:
          title: String
          type:
          - string
          - 'null'
        order:
          title: Int32
          type: integer
          format: int32
        signerType:
          title: SignerType
          enum:
          - Signer
          - Reviewer
          - InPersonSigner
          type: string
          default: Signer
        hostEmail:
          title: String
          type:
          - string
          - 'null'
        hostName:
          title: String
          type:
          - string
          - 'null'
        hostUserId:
          title: String
          type:
          - string
          - 'null'
        signType:
          title: SignType
          enum:
          - Single
          - Group
          type: string
        groupId:
          title: String
          type:
          - string
          - 'null'
        groupSigners:
          title: TemplateGroupSigner[]
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateGroupSigner'
      additionalProperties: false
    TemplateFormFields:
      title: TemplateFormFields
      type: object
      properties:
        id:
          title: String
          type:
          - string
          - 'null'
        fieldType:
          title: String
          type:
          - string
          - 'null'
        type:
          title: String
          type:
          - string
          - 'null'
        value:
          title: String
          type:
          - string
          - 'null'
        font:
          title: String
          type:
          - string
          - 'null'
        isRequired:
          title: Boolean
          type: boolean
        isReadOnly:
          title: Boolean
          type: boolean
        lineHeight:
          title: Int32
          type: integer
          format: int32
        fontSize:
          title: Int32
          type: integer
          format: int32
        fontHexColor:
          title: String
          type:
          - string
          - 'null'
        isUnderLineFont:
          title: Boolean
          type: boolean
        isItalicFont:
          title: Boolean
          type: boolean
        isBoldFont:
          title: Boolean
          type: boolean
        groupName:
          title: String
          type:
          - string
          - 'null'
        label:
          title: String
          type:
          - string
          - 'null'
        placeholder:
          title: String
          type:
          - string
          - 'null'
        validationtype:
          title: ValidationType
          enum:
          - None
          - NumbersOnly
          - EmailAddress
          - Currency
          - CustomRegex
          type: string
        validationCustomRegex:
          title: String
          type:
          - string
          - 'null'
        validationCustomRegexMessage:
          title: String
          type:
          - string
          - 'null'
        dateFormat:
          title: String
          type:
          - string
          - 'null'
        timeFormat:
          title: String
          type:
          - string
          - 'null'
        imageInfo:
          $ref: '#/components/schemas/ImageInfo'
        attachmentInfo:
          $ref: '#/components/schemas/AttachmentInfo'
        editableDateFieldSettings:
          $ref: '#/components/schemas/EditableDateFieldSettings'
        dropdownOptions:
          title: String[]
          type:
          - array
          - 'null'
          items:
            title: String
            type: string
        bounds:
          $ref: '#/components/schemas/Rectangle'
        pageNumber:
          title: Int32
          type: integer
          format: int32
        conditionalRules:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConditionalRule'
        dataSyncTag:
          title: String
          type:
          - string
          - 'null'
        textAlign:
          title: TextAlign
          enum:
          - Left
          - Center
          - Right
          type: string
        textDirection:
          title: TextDirection
          enum:
          - LTR
          - RTL
          type: string
        characterSpacing:
          title: Single
          type: number
          format: float
        characterLimit:
          title: Int32
          type: integer
          format: int32
        hyperlinkText:
          title: String
          type:
          - string
          - 'null'
        backgroundHexColor:
          title: String
          type:
          - string
          - 'null'
        tabIndex:
          title: Int32
          type: integer
          format: int32
        formulaFieldSettings:
          $ref: '#/components/schemas/FormulaFieldSettings'
        resizeOption:
          title: Nullable`1
          enum:
          - GrowVertically
          - GrowHorizontally
          - GrowBoth
          - Fixed
          - AutoResizeFont
          type:
          - string
          - 'null'
        allowEditFormField:
          title: Boolean
          type: boolean
        allowDeleteFormField:
          title: Boolean
          type: boolean
        collaborationSettings:
          $ref: '#/components/schemas/CollaborationSettings'
        isMasked:
          title: Boolean
          type: boolean
          default: false
        isDefaultValueRequired:
          title: Boolean
          type: boolean
      additionalProperties: false
    DocumentCC:
      title: DocumentCC
      required:
      - emailAddress
      type: object
      properties:
        emailAddress:
          title: String
          minLength: 1
          type: string
      additionalProperties: false
    TemplateProperties:
      title: TemplateProperties
      type: object
      properties:
        templateId:
          title: String
          type:
          - string
          - 'null'
        title:
          title: String
          type:
          - string
          - 'null'
        description:
          title: String
          type:
          - string
          - 'null'
        documentTitle:
          title: String
          type:
          - string
          - 'null'
        documentMessage:
          title: String
          type:
          - string
          - 'null'
        files:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateFiles'
        roles:
          title: Roles[]
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Roles'
        formGroups:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FormGroup'
        commonFields:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateFormFields'
        cCDetails:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            title: String
            type: string
        brandId:
          title: String
          type:
          - string
          - 'null'
        allowMessageEditing:
          title: Boolean
          type: boolean
        allowNewRoles:
          title: Boolean
          type: boolean
        allowNewFiles:
          title: Boolean
          type: boolean
        allowModifyFiles:
          title: Boolean
          type: boolean
        enableReassign:
          title: Boolean
          type: boolean
        EnablePrintAndSign:
          title: Boolean
          type: boolean
        enableSigningOrder:
          title: Boolean
          type: boolean
        createdDate:
          title: Int64
          type: integer
          format: int64
        createdBy:
          $ref: '#/components/schemas/TemplateSenderDetail'
        sharedTemplateDetail:
          title: List`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateSharedTemplateDetail'
          deprecated: true
        documentInfo:
          title: DocumentInfo[]
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DocumentInfo'
        labels:
          title: List`1
          type:
          - array
          - 'null'
          items:
            title: String
            type: string
        templateLabels:
          title: List`1
          type:
          - array
          - 'null'
          items:
            title: String
            type: string
        behalfOf:
          $ref: '#/components/schemas/BehalfOf'
        documentDownloadOption:
          title: DocumentDownloadOption
          enum:
          - Combined
          - Individually
          type: string
        recipientNotificationSettings:
          $ref: '#/components/schemas/RecipientNotificationSettings'
        formFieldPermission:
          $ref: '#/components/schemas/FormFieldPermission'
        allowedSignatureTypes:
          title: List`1
          type:
          - array
          - 'null'
          items:
            title: SignatureType
            enum:
            - Text
            - Draw
            - Image
            type: string
        groupSignerSettings:
          $ref: '#/components/schemas/GroupSignerSettings'
        sharing:
          $ref: '#/components/schemas/TemplateSharing'
        enableAllowSignEverywhere:
          title: Boolean
          type: boolean
        documentTimeZone:
          title: String
          type:
          - string
          - 'null'
      additionalProperties: false
    EmbeddedTemplateEditRequest:
      title: EmbeddedTemplateEditRequest
      type: object
      properties:
        redirectUrl:
          title: Uri
          type:
          - string
          - 'null'
          format: uri
        showToolbar:
          title: Boolean
          type: boolean
          default: false
        viewOption:
          title: PageViewOption
          enum:
          - PreparePage
          - FillingPage
          type: string
          default: PreparePage
        showSaveButton:
          title: Boolean
          type: boolean
          default: true
        locale:
          title: Locales
          enum:
          - EN
          - 'NO'
          - FR
          - DE
          - ES
          - BG
          - CS
          - DA
          - IT
          - NL
          - PL
          - PT
          - RO
          - RU
          - SV
          - Default
          - JA
          - TH
          - ZH_CN
          - ZH_TW
          - KO
          type: string
          default: EN
        showCreateButton:
          title: Boolean
          type: boolean
          default: true
        showPreviewButton:
          title: Boolean
          type: boolean
          default: true
        showNavigationButtons:
          title: Boolean
          type: boolean
          default: true
        linkValidTill:
          title: Nullable`1
          type:
          - string
          - 'null'
          format: date-time
        showTooltip:
          title: Boolean
          type: boolean
          default: false
        onBehalfOf:
          title: String
          type:
          - string
          - 'null'
      additionalProperties: false
    FormFieldPermission:
      title: FormFieldPermission
      type: object
      properties:
        canAdd:
          title: Boolean
          type: boolean
        canModify:
          title: Boolean
          type: boolean
        canModifyDefaultValue:
          title: Boolean
          type: boolean
      additionalProperties: false
    FormField:
      title: FormField
      required:
      - bounds
      - fieldType
      - pageNumber
      type: object
      properties:
        id:
          title: String
          type:
          - string
          - 'null'
        name:
          title: String
          type:
          - string
          - 'null'
        fieldType:
          title: FieldType
          enum:
          - Signature
          - Initial
          - CheckBox
          - TextBox
          - Label
          - DateSigned
          - RadioButton
          - Image
          - Attachment
          - EditableDate
          - Hyperlink
          - Dropdown
          - Title
          - Company
          - Formula
          - Drawing
          type: string
        pageNumber:
          title: Int32
          type: integer
          format: int32
        bounds:
          $ref: '#/components/schemas/Rectangle'
        isRequired:
          title: Boolean
          type: boolean
        isReadOnly:
          title: Boolean
          type: boolean
        value:
          title: String
          type:
          - string
          - 'null'
        fontSize:
          title: Single
          minimum: 0
          type: number
          format: float
        font:
          title: FontFamily
          enum:
          - Helvetica
          - Courier
          - TimesRoman
          - NotoSans
          - Carlito
          type: string
        fontHexColor:
          title: String
          type:
          - string
          - 'null'
        isBoldFont:
          title: Boolean
          type: boolean
        isItalicFont:
          title: Boolean
          type: boolean
        isUnderLineFont:
          title: Boolean
          type: boolean
        lineHeight:
          title: Int32
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
        characterLimit:
          title: Int32
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
        groupName:
          title: String
          type:
          - string
          - 'null'
        label:
          title: String
          type:
          - string
          - 'null'
        placeHolder:
          title: String
          type:
          - string
          - 'null'
        validationType:
          title: ValidationType
          enum:
          - None
          - NumbersOnly
          - EmailAddress
          - Currency
          - CustomRegex
          type: string
        validationCustomRegex:
          title: String
          type:
          - string
          - 'null'
        validationCustomRegexMessage:
          title: String
          type:
          - string
          - 'null'
        dateFormat:
          title: String
          type:
          - string
          - 'null'
        timeFormat:
          title: String
          type:
          - string
          - 'null'
        imageInfo:
          $ref: '#/components/schemas/ImageInfo'
        attachmentInfo:
          $ref: '#/components/schemas/AttachmentInfo'
        editableDateFieldSettings:
          $ref: '#/components/schemas/EditableDateFieldSettings'
        hyperlinkText:
          title: String
          type:
          - string
          - 'null'
        conditionalRules:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConditionalRule'
        dataSyncTag:
          title: String
          type:
          - string
          - 'null'
        dropdownOptions:
          title: String[]
          type:
          - array
          - 'null'
          items:
            title: String
            type: string
        textAlign:
          title: TextAlign
          enum:
          - Left
          - Center
          - Right
          type: string
        textDirection:
          title: TextDirection
          enum:
          - LTR
          - RTL
          type: string
        characterSpacing:
          title: Single
          type: number
          format: float
        backgroundHexColor:
          title: String
          type:
          - string
          - 'null'
        tabIndex:
          title: Nullable`1
          maximum: 2147483647
          minimum: -1
          type:
          - integer
          - 'null'
          format: int32
        formulaFieldSettings:
          $ref: '#/components/schemas/FormulaFieldSettings'
        resizeOption:
          title: Nullable`1
          enum:
          - GrowVertically
          - GrowHorizontally
          - GrowBoth
          - Fixed
          - AutoResizeFont
          type:
          - string
          - 'null'
        allowEditFormField:
          title: Nullable`1
          type:
          - boolean
          - 'null'
        allowDeleteFormField:
          title: Nullable`1
          type:
          - boolean
          - 'null'
        collaborationSettings:
          $ref: '#/components/schemas/CollaborationSettings'
        isMasked:
          title: Nullable`1
          type:
          - boolean
          - 'null'
          default: false
        isDefaultValueRequired:
          title: Nullable`1
          type:
          - boolean
          - 'null'
      additionalProperties: false
    Roles:
      title: Roles
      type: object
      properties:
        name:
          title: String
          type:
          - string
          - 'null'
        index:
          title: Int32
          type: integer
          format: int32
        defaultSignerName:
          title: String
          type:
          - string
          - 'null'
        defaultSignerEmail:
          title: String
          type:
          - string
          - 'null'
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
        signerOrder:
          title: Int32
          type: integer
          format: int32
        signerType:
          title: SignerType
          enum:
          - Signer
          - Reviewer
          - InPersonSigner
          type: string
        hostEmail:
          title: String
          type:
          - string
          - 'null'
        hostName:
          title: String
          type:
          - string
          - 'null'
        language:
          title: Languages
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          type: integer
          description: <p>Description:</p><ul><li><i>0</i> - None</li><li><i>1</i> - English</li><li><i>2</i> - Spanish</li><li><i>3</i> - German</li><li><i>4</i> - French</li><li><i>5</i> - Romanian</li><li><i>6</i> - Norwegian</li><li><i>7</i> - Bulgarian</li><li><i>8</i> - Italian</li><li><i>9</i> - Danish</li><li><i>10</i> - Polish</li><li><i>11</i> - Portuguese</li><li><i>12</i> - Czech</li><li><i>13</i> - Dutch</li><li><i>14</i> - Swedish</li><li><i>15</i> - Russian</li><li><i>16</i> - Japanese</li><li><i>17</i> - Thai</li><li><i>18</i> - SimplifiedChinese</li><li><i>19</i> - TraditionalChinese</li><li><i>20</i> - Korean</li></ul>
          format: int32
        locale:
          title: Locales
          enum:
          - EN
          - 'NO'
          - FR
          - DE
          - ES
          - BG
          - CS
          - DA
          - IT
          - NL
          - PL
          - PT
          - RO
          - RU
          - SV
          - Default
          - JA
          - TH
          - ZH_CN
          - ZH_TW
          - KO
          type: string
        signType:
          title: SignType
          enum:
          - Single
          - Group
          type: string
        defaultGroupId:
          title: String
          type:
          - string
          - 'null'
        allowRoleEdit:
          title: Boolean
          type: boolean
        allowRoleDelete:
          title: Boolean
          type: boolean
        enableAccessCode:
          title: Boolean
          type: boolean
        enableEmailOTP:
          title: Boolean
          type: boolean
        imposeAuthentication:
          title: ImposeAuthentication
          enum:
          - None
          - EmailOTP
          - AccessCode
          - SMSOTP
          - IdVerification
          type: string
        deliveryMode:
          title: DeliveryMode
          enum:
          - Email
          - SMS
          - EmailAndSMS
          - WhatsApp
          type: string
        allowFieldConfiguration:
          title: Boolean
          type: boolean
        formFields:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateFormFields'
        enableEditRecipients:
          title: Boolean
          type: boolean
        enableDeleteRecipients:
          title: Boolean
          type: boolean
        recipientNotificationSettings:
          $ref: '#/components/schemas/RecipientNotificationSettings'
        enableQes:
          title: Boolean
          type: boolean
        groupSigners:
          title: IEnumerable`1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TemplateGroupSigner'
      additionalProperties: false
    TemplateShareErrorResponse:
      title: TemplateShareErrorResponse
      type: object
      properties:
        teams:
          title: List`1
          type:
          - array
          - 'null'
          items:
            title: String
            type: string
        templateId:
          title: String
          type:
          - string
          - 'null'
        errorType:
          title: String
          type:
          - string
          - 'null'
        error:
          title: String
          type:
          - string
          - 'null'
      additionalProperties: false
    EmbeddedSendTemplateFormRequest:
      title: EmbeddedSendTemplateFormRequest
      type: object
      properties:
        files:
          title: List`1
          type:
          - array
          - 'null'
          items:
            title: IFormFile
            type: string
            format: binary
        fileUrls:
          title: Uri[]
          type:
          - array
          - 'null'
          items:
            title: Uri
            type: string
            format: uri
        redirectUrl:
          title: Uri
          type:
          - string
          - 'null'
          format: uri
        showToolbar:
          title: Boolean
          type: boolean
        sendViewOption:
          title: PageViewOption
          enum:
          - PreparePage
          - FillingPage
          type: string
        showSaveButton:
          title: Boolean
          type: boolean
        locale:
          title: Locales
          enum:
          - EN
          - 'NO'
          - FR
          - DE
          - ES
          - BG
          - CS
          - DA
          - IT
          - NL
          - PL
          - PT
          - RO
[...]
